.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a6f07;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.categories {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 2px;
}

.dates {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

input {
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 5px 15px;
  margin: 5px 0;
}

select {
  margin: 5px 0;
  padding: 5px 15px;
  width: none;
}

legend {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  padding: 5px 10px;
}

label {
  font-weight: bold;
}

.errorInput {
  color: red;
}
